.mobile-pop {
  display    : table;
  height     : 100%;
  margin     : 0 auto;
  text-align : center;
  width      : 100%;

  .hello-it-seems {
    display        : table-cell;
    font-size      : 36px;
    line-height    : 40px;
    padding        : 0 20px;
    vertical-align : middle;
  }
}
