/* === Fonts === */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* === Clear fixes === */

*,
*:before,
*:after {
    box-sizing         : border-box;
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
}

*:focus {
    outline : none;
}

/* === Normalization === */

html {
    font-family              : sans-serif;
    line-height              : 1.15;
    -ms-text-size-adjust     : 100%;
    -webkit-text-size-adjust : 100%;
}

body {
    margin : 0;
}

/* === Resets === */

html,
body {
    margin    : 0;
    min-width : 320px;
    padding   : 0;
}

html {
    background : #fff;
    color      : #272822;
    font-size  : 16px;
    text-align : justify;
}

body {
    overflow-x : hidden;
    position   : relative;
    width      : 100%;
}

/* === Project === */

body {
    overflow-x : visible;
}
